#grid-container {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 96opx;
    align-content: center;
    justify-content: center;
}

.grid-row-container{
    display: flex;
    flex-direction: row;
}